.mp-checkout-bricks__payment-form h1{
    padding: 0 0 0.5rem 0 !important;
}

.mp-checkout-bricks__payment-form{
    padding: 0 !important;

}

.mp-checkout-bricks__payment-form div{
    margin-bottom: 0 !important;
}