.productInfoCarousel .thumbsSwiper .swiper-slide {
  opacity: 0.4;
  border-radius: 10px;
  overflow: hidden;
}

.productInfoCarousel .thumbsSwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper-slide-thumb-active{
  @apply border-slate-400
}