.mySwiper .swiper-slide {
  opacity: 0.4;
  border-radius: 10px;
  overflow: hidden;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-button-next{
  right: 0;
}

.swiper-button-prev{
  left: 0;
}
.swiper-button-next, .swiper-button-prev{
  padding: 40px 30px;
  scale: 0.7;
  top: calc(50% - 50px/2 + 5px) !important;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.loading .swiper-button-next, .loading .swiper-button-prev{
  visibility: hidden;
}